{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="span8 offset1 ">

            <form action="/edit_job/{{ data.job.id }}/" method="POST" id="create_job" class="navbar-form offset1" enctype="multipart/form-data">{% csrf_token %}
                <div>
                    <h4>Название задачи:</h4>
                    <input type="text" id="job_name_id" name="job_name" class="span3"  value="{{ data.job.name }}" >
                </div>

                <div>
                    <h4>Описание:</h4>
                    <textarea rows="3" class="span3" name="job_description">{{ data.job.description }}</textarea>
                </div>

                <div>
                    <h4>Расчетные случаи:</h4>
                    <p style="height: 100px; overflow: auto;">
                        {% for name, id in loadcases %}
                            <input value="{{ id }}" name="loadcases" type="checkbox" {% if id in job_loadcases %} checked {% endif %}>
                            {{ name }}
                            <br>
                        {% endfor %}
                    </p>
                {# Becouse after loadcase creating need to return to edit page instead create page #}
{#                    <button type="button" onclick="location.href = '/project/{{ project_id }}/create_loadcase/';">Add new Loadcase</button>#}
                </div>

                <div>
                    <h4>Входные параметры:</h4>
                    <textarea rows="3" class="span3" name="input_params">{{ data.job.input_params }}</textarea>
                    <p></p>
                    <input type="file" name="input_file" class="span3">
                </div>

                <div>
                    <button type="submit"  class="btn btn-primary center">Update Job</button>
                </div>
            </form>
        </div>
    </div>

{%  endblock %}

